body {
    background-image: url("https://rilahweb.github.io/ui_bg.jpg");
    
}


.login form { background: linear-gradient(to right top, #2d1225, #5c323e, #8b5855, #b5856e, #d9b68b, #e6ca98, #f2dea6, #fcf3b5, #fcebac, #fde2a3, #fdda9b, #fed194, 0.3); 

    box-shadow: inset 0 0 20px 20px rgba(0,0,0,.13);
   

} 

.login label {
    color: #000000;
}


.button-primary {
    background: #a32236;
    border-color: #a32236 #a32236 #a32236;
    box-shadow: 0 1px 0 #a32236;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #a32236, 1px 0 1px #a32236, 0 1px 1px #a32236, -1px 0 1px #a32236;

}
