body {
    background: linear-gradient(to right top, #ff8000, #ff846c, #ff9cb1, #ffbde4, #ffddfe, #e8ddff, #d1ddff, #bddcf9, #65cae6, #00b6b7, #009e6d, #008000);
    min-width: 0;
    color: #444;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
}


.login form { background: linear-gradient(to bottom, #f6a452, #ffa98a, #ffb8bd, #ffcee5, #ffe5fb, #edecff, #dbf2ff, #d4f7ff, #9af8f8, #63f6db, #50f1a8, #6ee763); 

 box-shadow: inset 0 0 20px 20px rgba(0,0,0,.13); 
box-shadow: 0 0 20px 20px rgba(0,0,0,.13); 
} 
