body {
    background: background-image: linear-gradient(to right top, #ff8000, #ff846c, #ff9cb1, #ffbde4, #ffddfe, #e8ddff, #d1ddff, #bddcf9, #65cae6, #00b6b7, #009e6d, #008000);
    min-width: 0;
    color: #444;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
}
